# Backend
fastapi>=0.110.0
uvicorn>=0.27.0
pydantic>=2.6.0
gmpy2>=2.1.5        # Для длинной арифметики (очень ускорит работу)
numpy>=1.26.4       # Для матриц в квадратичном решете
sympy>=1.12         # Для генерации простых чисел и проверок

# Frontend
streamlit>=1.32.0
requests>=2.31.0
plotly>=5.19.0      # Интерактивные графики для бенчмарков
pandas>=2.2.0

# Testing
pytest>=8.0.0